In [1]:
1+1

2

Numbers

In [2]:
1+3

4

In [3]:
print(1+3)

4

##helllo

In [7]:
a=5
print(a+1)
print("hello")
print("hello \nhow are you")

6
hello
hello
how are you

Variable assignment:-

In [8]:
name="xyz"
college="mcc"

In [13]:
name="zbs"

In [15]:
type("")

str

In [14]:
name

'zbs'

In [11]:
name

'xyz'

In [10]:
number=10
number

10

In [17]:
type(number)

int

In [18]:
double_n=2.5

In [19]:
print(double_n)

2.5

In [20]:
type(double_n)

float

In [22]:
type(2+1j)

complex

In [ ]:
'''
#reserved keyword
float,int len,yield,complex,bool,return

'''

In [25]:
#boolean key words
True
False

False

In [24]:
#logical operatorator
True or False

True

In [28]:
type(True)

bool

In [30]:
bool(1)

True

In [29]:
bool(0)

False

In [27]:
a=1
if bool(a)==True:
   print("true")

true

Dynamic typing:-
in dynamic typing we cann't need to define the data type for any specific variable
hence python is of dynaming type

In [31]:
a="var"
b=19

In [32]:
type(a)
type(b)

int

concatenation

In [33]:
int("1")+int("1")

2

In [34]:
int("1")+int("6")

7

In [35]:
int("1")+"6"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
"1"*"1"

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
"1"*10

'1111111111'

In [1]:
#format()
name="anjali"
age="19"
print("my name is {} and my age is {}".format(name,age))

my name is anjali and my age is 19

In [3]:
#format
name="xyz"
print(f"my mane is {name}")

my mane is xyz

In [4]:
#place holder
name="ab"
age=79
print("my name is {myname} and my age is {myage}".format(myname=name,myage=age))
#here myname and myage is called as placeholder

my name is ab and my age is 79

In [ ]:
#control flow
#decision making statement

In [5]:
age=18
if age>=18:
    print("ellible for vote")
else:
    print("not ellible")

ellible for vote

In [1]:
age=18
if age>=18:
    print("ellible for vote")
else:
    print("not ellible")

ellible for vote

In [2]:
age=1
if age>=18:
    print("ellible for vote")
else:
    print("not ellible")

not ellible

In [3]:
18<18

False

In [ ]:
11<18

True

In [ ]:
name

In [ ]:
name=input("Enetr the name:")

In [1]:
input=int(input("enter the age:"))